body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Styles for the calendar */
.fc-header-toolbar {
  background-color: #23108f;
  color: white;
}

.fc-col-header {
  background-color:#23108f;
}
.fc-col-header-cell a {
  text-decoration: none;
  color: white;
}
.fc-daygrid-day {
  background-color: rgb(149, 149, 150);
}
.fc-daygrid-day-number {
  text-decoration: none;
  color: #fff;
}
.fc-daygrid-event {
  color: #fff;
}
.fc-daygrid-event:hover {
  color: #fff;
  background-color: rgb(233, 181, 50) !important;
}
.Personal {
  background-color: seagreen;
  color: white;
}